<!-- templates/index.html -->

{% extends 'base.html' %}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">Welcome to PAPP as PNG: The PunkApepen to PNG Maker</h1>
            <div class="content">
                <p><strong>Instructions:</strong></p>
                <ol>
                    <li><strong>Paste your Ethereum wallet address in the form above.</strong><br>
                        <em></em></li>
                    <li><strong>Click the "GO!" button to retrieve your PunkApepen.</strong><br>
                        <em>Our system will fetch all the PunkApepens associated with your Ethereum wallet address and display them below.</em></li>
                    <li><strong>Once your PunkApepens show up, click on each one to view and download a beautiful 1024x1024 PNG file.</strong><br>
                        <em>Explore the intricate details of each of your PunkApepen NFTs and choose your favorites to download.</em></li>
                    <li><strong>Make it PAPP!</strong><br>
                        <em>Enjoy your collection of high-resolution PunkApepen NFTs and unleash your creativity! Share them with friends, use them as avatars, or even print them as artwork.</em></li>
                </ol>
                <p><strong>Looking for more PAPPs?</strong></p>
            <ul>
                <li><a href="https://opensea.io/collection/punkapepen-orig" target="_blank" rel="noopener noreferrer">Buy more PAPPs on OpenSea</a></li>
                <li><a href="https://magiceden.io/collections/base/0xf39be779905d16fe23b2cc1297dc3e759d2daa11" target="_blank" rel="noopener noreferrer">Buy more PAPPs on MagicEden</a></li>
                <li><a href="https://twitter.com/PunkApepen" target="_blank" rel="noopener noreferrer">Follow PunkApepen on X</a></li>
                <li><a href="https://www.punkapepen.com/" target="_blank" rel="noopener noreferrer">Visit the PunkApepen website</a></li>
            </ul>
            </div>



        {% if nfts %}
        <div class="columns is-multiline">
            {% for nft in nfts %}
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3" style="height: 200px; overflow: hidden;">
                                <a href="data:image/png;base64,{{ nft.image }}" download="{{ nft.tokenId }}_PunkApepen-1024x1024.png">
                                    <img src="data:image/png;base64,{{ nft.image }}" alt="Upscaled PunkApepen Image" style="object-fit: cover; width: 100%;">
                                </a>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p>Name: {{ nft.name }}</p>
                                <p>Token ID: {{ nft.tokenId }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        {% endif %}
    </div>
</section>

{% endblock %}
